{% extends "base.html" %}
{% load static %}
{% block content %}
    
    <div>
        <img src="{% static 'img/img.jpg' %}" alt="">
    </div>

    
    <div id="oi">
        
    <div class="fe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate impedit ab, deserunt magnam facere quae, nihil numquam quas dolores dicta ratione eos eius tempora ea libero ullam harum incidunt deleniti!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nihil a adipisci tempore perferendis aut delectus alias repellat ullam accusamus soluta amet quaerat, quisquam eum atque est! Quia, veniam quaerat!</div>

    <div class="fe">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate impedit ab, deserunt magnam facere quae, nihil numquam quas dolores dicta ratione eos eius tempora ea libero ullam harum incidunt deleniti!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat officia quis iure, ullam iusto, voluptate voluptas molestiae similique et ex deleniti hic placeat minima inventore vitae possimus labore delectus provident?</div>

    </div>

    
    {% endblock %}
    
